.indexImage {
  height: 250px;
  width: 250px;
}

.app {
  font-family: 'Muli', sans-serif;
}

.addItemContainer {
  margin-top: 40px;
  margin-bottom: 50px;
}

.mainContainer {
  text-align: center;
}

.itemContainer {
  margin-bottom: 30px;
}
