<!DOCTYPE html>
<html>
  <head>
    <title>Style Review</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="styleReview" ng-controller="IndexCtrl">
    <div ng-repeat="item in items | orderBy: '-upvotes'">
      <p>{{item.title}}</p>
      <img class="indexImage" src="{{item.photo_url}}" alt="item image"/> - upvotes: {{item.upvotes}}

    </div>

    <form ng-submit="addItem()">
      <input type="text" ng-model="title" placeholder="Title"/>
      <input type="text" ng-model="photo_url" placeholder="Photo Url"/>
      <input type="text" ng-model="maker" placeholder="Purchased From"/>
      <input type="text" ng-model="description" placeholder="Description"/>
      <input type="text" ng-model="price" placeholder="Price"/>
      <input type="text" ng-model="upvotes"/>
      <button type="submit">Item</button>
    </form>
  </body>
</html>
